fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
python-multipart
youtube-transcript-api==1.2.4
apscheduler
pdfplumber
Pillow
google-generativeai
pymongo[srv]
dnspython
pytz
python-jose[cryptography]
httpx
